@model BooksDevotee.ViewModels.Home.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
    List<Book> bookList = Model.BookList.ToList();
}

<div class="row">
    @for (int i = 0; i < bookList.Count; i++)
    {
        Book book = bookList[i];

        <div class="col-md-4">
            <div class="card m-3">
                <h4 class="card-header text-truncate text-center">
                    <a asp-action="details" asp-controller="home" asp-route-bookId="@book.BookId" 
                       class="text-dark">
                        @book.Title
                    </a>
                </h4>
                @{
                    string imgSource = Image.GetImageSource(book.Image);
                }
                <img class="card-img-top p-2" src="@imgSource" />
                <h3 class="card-title text-primary text-center">@book.Price zł</h3>
            </div>
        </div>
    }
</div>
